<!-- ==================== Footer Two Start Here ==================== -->
<footer class="footer footer-two padding-y-120">
    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-xl-4 col-lg-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="/">
                             <!-- <img src="public/images/logo/white-logo.png" alt=""> -->
                             <img
                             src="public/images/logo/real-logo.png"
                             alt="Logo"
                             width="250"
                             height="120"
                            />
                        </a>
                    </div>
                    <p class="footer-item__desc">Innovation Construction Group, established in 2024, is a leading provider of premium residential plots. We specialize in offering strategically located land parcels for your dream home. With our commitment to quality and innovation, we're shaping the future of residential development.</p>
                    
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title">Services</h6>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a href="/" class="footer-menu__link">Home </a></li>
                        <li class="footer-menu__item"><a href="/about" class="footer-menu__link">About </a></li>
                        <li class="footer-menu__item"><a href="/residential_plot" class="footer-menu__link">Residential Plot Area </a></li>
                        <li class="footer-menu__item"><a href="/contact" class="footer-menu__link">Contact </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title ">Lets Work Together</h6>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-map-marker-alt"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Address: </span>
                                    <span class="contact-info__address text-white"><a href="https://maps.app.goo.gl/GBCT5EibKNdtDsUC8" target="_blank">
                                        <p class="address-list__text">
                                          7 Lyons Range 1st floor Room NO.17B, <br />
                                          Kolkata 700001
                                        </p>
                                      </a></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-6">
                             <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-phone"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Phone: </span>
                                    <span class="contact-info__address text-white"><a href="tel:+919007009009" class="address-list__text d-block d-sm-inline"
                                        >+(91) 9007009009
                                      </a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="social-list">
    <li class="social-list__item"><a href="#" class="social-list__link flx-center"><i class="fab fa-facebook-f"></i></a> </li>
    <li class="social-list__item"><a href="#" class="social-list__link flx-center"> <i class="fab fa-twitter"></i></a></li>
    <li class="social-list__item"><a href="#" class="social-list__link flx-center"> <i class="fab fa-linkedin-in"></i></a></li>
    <li class="social-list__item"><a href="#" class="social-list__link flx-center"> <i class="fab fa-instagram"></i></a></li>
</ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="bottom-footer">
    <div class="container container-two">
        <div class="bottom-footer__inner flx-between gap-3">
            <p class="bottom-footer__text"> &copy; Innovative Construction Group 2024 | All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#" class="footer-link">Terms & Condition</a>
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="contact" class="footer-link">Contact Us</a>
            </div>
        </div>
    </div>
</div>

  
</main>

    <script src="public/js/jquery-3.7.1.min.js"></script>

    <script src="public/js/boostrap.bundle.min.js"></script>

    <script src="public/js/magnific-popup.min.js"></script>
    
    <script src="public/js/slick.min.js"></script>
    
    <script src="public/js/counterup.min.js"></script>
    
    <script src="public/js/jquery.marquee.min.js"></script>
    
    <script src="public/js/image-uploader.min.js"></script>
   
    <script src="public/js/jquery-ui.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="public/js/main.js"></script>

    </body>
</html>
