<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title><%= title %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="public/images/logo/favicon.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="public/css/fontawesome-all.min.css" />
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="public/css/magnific-popup.css.css" />
    <!-- Slick -->
    <link rel="stylesheet" href="public/css/slick.css" />
    <!-- line awesome -->
    <link rel="stylesheet" href="public/css/line-awesome.min.css" />
    <!-- Image Uploader -->
    <link rel="stylesheet" href="public/css/image-uploader.min.css" />
    <!-- jQuery Ui Css -->
    <link rel="stylesheet" href="public/css/jquery-ui.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="public/css/main.css" />
  </head>
  <body>
    <!--==================== Preloader Start ====================-->
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <!--==================== Preloader End ====================-->

    <!--==================== Overlay Start ====================-->
    <div class="overlay"></div>
    <!--==================== Overlay End ====================-->

    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <!-- ==================== Scroll to Top End Here ==================== -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- ==================== Scroll to Top End Here ==================== -->

    <!-- ==================== Mobile Menu Start Here ==================== -->
    <div class="mobile-menu d-lg-none d-block">
      <button type="button" class="close-button">
        <i class="las la-times"></i>
      </button>
      <div class="mobile-menu__inner">
        <a href="/" class="mobile-menu__logo">
          <!-- <img src="public/images/logo/logo.png" alt="Logo" /> -->
          <img
            src="public/images/logo/real-logo.png"
            alt="Logo"
            width="250"
            height="70"
          />
        </a>
        <div class="mobile-menu__menu">
          <ul class="nav-menu flx-align nav-menu--mobile">
            <li class="nav-menu__item">
              <a href="/" class="nav-menu__link">Home</a>
            </li>
            <li class="nav-menu__item">
              <a href="about" class="nav-menu__link">About</a>
            </li>

            <li class="nav-menu__item">
              <a href="residential_plot" class="nav-menu__link"
                >Residential Plot Area</a
              >
            </li>
            <li class="nav-menu__item">
              <a href="contact" class="nav-menu__link">Contact</a>
            </li>
          </ul>
          <a
            href="/#choose-option"
            class="btn btn-outline-light d-lg-none d-block mt-4"
          >
            Choose Option
            <span class="icon-right text-gradient">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- ==================== Mobile Menu End Here ==================== -->

    <!-- ==================== Right Offcanvas Start Here ==================== -->
    <div class="common-offcanvas d-lg-block d-none">
      <div class="flx-between">
        <a href="/" class="mobile-menu__logo">
          <!-- <img src="public/images/logo/white-logo.png" alt="Logo" /> -->
          <img
            src="public/images/logo/real-logo.png"
            alt="Logo"
            width="250"
            height="70"
          />
        </a>
        <button
          type="button"
          class="close-button d-flex position-relative top-0 end-0"
        >
          <i class="las la-times"></i>
        </button>
      </div>

      <ul class="address-list mt-5">
        <li class="address-list__item flx-align">
          <span class="address-list__icon"
            ><i class="fas fa-map-marker-alt"></i
          ></span>
          <div class="address-list__content">
            <a href="https://maps.app.goo.gl/GBCT5EibKNdtDsUC8" target="_blank">
              <p class="address-list__text">
                7 Lyons Range 1st floor Room NO.17B, <br />
                Kolkata 700001
              </p>
            </a>
          </div>
        </li>
        <li class="address-list__item flx-align">
          <span class="address-list__icon"> <i class="fas fa-phone"></i></span>
          <div class="address-list__content">
            <a href="tel:+919007009009" class="address-list__text"
              >+(91) 9007009009
            </a>
          </div>
        </li>
        <li class="address-list__item flx-align">
          <span class="address-list__icon">
            <i class="fas fa-envelope"></i
          ></span>
          <div class="address-list__content">
            <a href="mailto:rohit.kayan@gmail.com" class="address-list__text">
              rohit.kayan@gmail.com
            </a>
          </div>
        </li>
      </ul>

      <div class="google-map mt-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.1300346920393!2d88.34735108036219!3d22.574239379490646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277a4c298b7f3%3A0xacf89f36f8ef1bf4!2s7%2C%20Lyons%20Range%2C%20Murgighata%2C%20Dalhousie%2C%20Kolkata%2C%20West%20Bengal%20700001!5e0!3m2!1sen!2sin!4v1726906534654!5m2!1sen!2sin"
          loading="lazy"
          class="w-100 h-100"
        ></iframe>
      </div>

      <ul class="social-list">
        <li class="social-list__item">
          <a href="#" class="social-list__link flx-center"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link flx-center">
            <i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link flx-center">
            <i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link flx-center">
            <i class="fab fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
    <!-- ==================== Right Offcanvas End Here ==================== -->

    <main class="body-bg">
      <!-- ==================== Header Top Four Start Here ==================== -->
      <div class="header-top bg--gradient">
        <div class="container container-two">
          <div
            class="flx-between justify-content-sm-between justify-content-center gap-2"
          >
            <div class="header-info flx-align">
              <div class="header-info__item text-white flx-align">
                <span class="header-info__icon"
                  ><i class="fas fa-map-marker-alt"></i
                ></span>
                <a
                  href="https://maps.app.goo.gl/GBCT5EibKNdtDsUC8"
                  target="_blank"
                >
                  <span class="header-info__text text-white fw-light"
                    >7 Lyons Range, 1st floor Room NO.17B, Kolkata 700001
                  </span>
                </a>
              </div>
              <div class="header-info__item text-white flx-align">
                <span class="header-info__icon"
                  ><i class="fas fa-envelope"></i
                ></span>
                <a
                  href="mailto:rohit.kayan@gmail.com"
                  class="header-info__text text-white fw-light"
                  >rohit.kayan@gmail.com
                </a>
              </div>
            </div>
            <ul class="social-icon-list flx-align gap-2">
              <li class="social-icon-list__item">
                <a href="#" class="social-icon-list__link"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li class="social-icon-list__item">
                <a href="#" class="social-icon-list__link"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="social-icon-list__item">
                <a href="#" class="social-icon-list__link"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li class="social-icon-list__item">
                <a href="#" class="social-icon-list__link"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ==================== Header Top Four End Here ==================== -->

      <!-- ==================== Header Start Here ==================== -->
      <header class="header bg-gray-100">
        <div class="container container-two">
          <nav class="header-inner flx-between">
            <!-- Logo Start -->
            <div class="logo">
              <a href="/" class="link">
                <!-- <img src="public/images/logo/logo.png" alt="Logo" /> -->
                <img
                  src="public/images/logo/real-logo.png"
                  alt="Logo"
                  width="250"
                  height="70"
                />
              </a>
            </div>
            <!-- Logo End -->

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none">
              <ul class="nav-menu flx-align">
                <li class="nav-menu__item">
                  <a href="/index" class="nav-menu__link" id="homeNavLink">Home</a>
                </li>
                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    const currentPath = window.location.pathname;
                    const homeNavLink = document.getElementById("homeNavLink");
                    if (currentPath === "/" || currentPath === "/index") {
                      homeNavLink.style.color = "orange";
                    }
                  });
                </script>
                <li class="nav-menu__item">
                  <a href="about" class="nav-menu__link">About</a>
                </li>
                <li class="nav-menu__item">
                  <a href="residential_plot" class="nav-menu__link"
                    >Residential Plot Area</a
                  >
                </li>

                <li class="nav-menu__item">
                  <a href="contact" class="nav-menu__link">Contact</a>
                </li>
              </ul>
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="header-right flx-align">
              <a
                href="tel:+919007009009"
                class="contact-number text-poppins text-gray-800 fw-500 d-flex align-items-center gap-2"
              >
                <span class="icon text-gradient font-20"
                  ><i class="fas fa-phone"></i
                ></span>
                <span class="text">(+91) 9007009009</span>
              </a>
              <button
                type="button"
                class="offcanvas-btn d-lg-block d-none me-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="24"
                  viewBox="0 0 30 24"
                  fill="none"
                >
                  <line
                    x1="0.0078125"
                    y1="12.293"
                    x2="30.0078"
                    y2="12.293"
                    stroke="#181616"
                    stroke-width="3"
                  ></line>
                  <path
                    d="M5.00781 22.293H30.0078"
                    stroke="#181616"
                    stroke-width="3"
                  ></path>
                  <path
                    d="M10.0078 2.29297H30.0078"
                    stroke="#181616"
                    stroke-width="3"
                  ></path>
                </svg>
              </button>
              <button type="button" class="toggle-mobileMenu d-lg-none">
                <i class="las la-bars"></i>
              </button>
            </div>
            <!-- Header Right End  -->
          </nav>
        </div>
      </header>
      <!-- ==================== Header End Here ==================== -->
    </main>
  </body>
</html>
