<%-include('../templates/components/header.ejs') %>

<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb padding-y-120">
  <img
    src="public/images/thumbs/breadcrumb-img.png"
    alt=""
    class="breadcrumb__img"
  />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb__wrapper">
          <h2 class="breadcrumb__title">About Us</h2>
          <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link">
                <i class="las la-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
            <li class="breadcrumb__item">
              <span class="breadcrumb__item-text"> About Us </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<!-- ============================= About Section Start =========================== -->
<section class="about-three bg-white padding-y-120">
  <div class="container container-two">
    <div class="row gy-4">
      <!-- <div class="col-lg-6">
        <div class="about-three-thumb">
          <div class="about-three-thumb__inner">
            <img src="public/images/thumbs/about-three-img.png" alt="" />
          </div>
        </div>
      </div> -->
      <div class="col-lg-10">
        <div class="about-content">
          <div class="section-heading style-left">
            <span class="section-heading__subtitle bg-gray-100">
              <span class="text-gradient fw-semibold">About Us</span>
            </span>
            <h2 class="section-heading__title">About Heading go Here</h2>
            <p class="section-heading__desc font-18">
              About description go here in this paragraph section.
            </p>
          </div>
          <ul class="check-list style-two">
            <li class="check-list__item d-flex align-items-center">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span class="text fw-semibold">Here is about some points </span>
            </li>
            <li class="check-list__item d-flex align-items-center">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span class="text fw-semibold"> Here is about some points</span>
            </li>
            <li class="check-list__item d-flex align-items-center">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span class="text fw-semibold">Here is about some points</span>
            </li>
            <li class="check-list__item d-flex align-items-center">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span class="text fw-semibold">Here is about some points</span>
            </li>
          </ul>
          <div class="about-button">
            <!-- <a href="#" class="btn btn-outline-main bg-white"
              >Learn More
              <span class="icon-right">
                <i class="fas fa-arrow-right"></i>
              </span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================= About Section End =========================== -->

<%-include('../templates/components/footer.ejs') %>
