<%-include('../templates/components/header.ejs') %>

<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb padding-y-120">
  <img
    src="public/images/thumbs/breadcrumb-img.png"
    alt=""
    class="breadcrumb__img"
  />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb__wrapper">
          <h2 class="breadcrumb__title">Plot Details Table</h2>
          <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link">
                <i class="las la-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
            <li class="breadcrumb__item">
              <span class="breadcrumb__item-text">Plot Details Table</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<section class="about-three bg-white padding-y-120">
  <div class="container container-two">
    <div class="row gy-4">
      <!-- <div class="col-lg-6">
        <div class="about-three-thumb">
          <div class="about-three-thumb__inner">
            <img src="public/images/thumbs/about-three-img.png" alt="" />
          </div>
        </div>
      </div> -->
      <div class="col-lg-10">
        <div class="about-content">
          <div class="section-heading style-left">
            <span class="section-heading__subtitle bg-gray-100">
              <span class="text-gradient fw-semibold">Plot Details Tables</span>
            </span>
            <h2 class="section-heading__title">Plot Details</h2>
            <p class="section-heading__desc font-18">
              Here is the payment details of plot table format.
            </p>
          </div>
          <div class="table-responsive">
            <table
              style="
                width: 100%;
                border: 1px solid black;
                border-collapse: collapse;
              "
            >
              <tr>
                <th style="border: 1px solid black; padding: 8px">DEVELOPER</th>
                <th style="border: 1px solid black; padding: 8px">PUR</th>
                <th style="border: 1px solid black; padding: 8px">AREA</th>
                <th style="border: 1px solid black; padding: 8px">RATE</th>
                <th style="border: 1px solid black; padding: 8px">AMOUNT</th>
                <th style="border: 1px solid black; padding: 8px">DEV</th>
                <th style="border: 1px solid black; padding: 8px">SALES</th>
                <th style="border: 1px solid black; padding: 8px">COTHAH</th>
                <th style="border: 1px solid black; padding: 8px">PLOT</th>
                <th style="border: 1px solid black; padding: 8px">AREA</th>
                <th style="border: 1px solid black; padding: 8px">RATE</th>
                <th style="border: 1px solid black; padding: 8px">T AMOUNT</th>
                <th style="border: 1px solid black; padding: 8px">
                  20% AMOUNT
                </th>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">A</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px">2</td>
                <td style="border: 1px solid black; padding: 8px">800</td>
                <td style="border: 1px solid black; padding: 8px">1600</td>
                <td style="border: 1px solid black; padding: 8px">200000</td>
                <td style="border: 1px solid black; padding: 8px">320000000</td>
                <td style="border: 1px solid black; padding: 8px">64000000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">B</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">C</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px">4</td>
                <td style="border: 1px solid black; padding: 8px">700</td>
                <td style="border: 1px solid black; padding: 8px">2800</td>
                <td style="border: 1px solid black; padding: 8px">200000</td>
                <td style="border: 1px solid black; padding: 8px">560000000</td>
                <td style="border: 1px solid black; padding: 8px">112000000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">D</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">E</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px">6</td>
                <td style="border: 1px solid black; padding: 8px">200</td>
                <td style="border: 1px solid black; padding: 8px">1200</td>
                <td style="border: 1px solid black; padding: 8px">200000</td>
                <td style="border: 1px solid black; padding: 8px">160000000</td>
                <td style="border: 1px solid black; padding: 8px">256000000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">F</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">G</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">H</td>
                <td style="border: 1px solid black; padding: 8px">50</td>
                <td style="border: 1px solid black; padding: 8px">1100000</td>
                <td style="border: 1px solid black; padding: 8px">55000000</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px">20%</td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
                <td style="border: 1px solid black; padding: 8px"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include('../templates/components/footer.ejs') %>
