<%-include('../templates/components/header.ejs') %>

<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb padding-y-120">
  <img
    src="public/images/thumbs/breadcrumb-img.png"
    alt=""
    class="breadcrumb__img"
  />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb__wrapper">
          <h2 class="breadcrumb__title">Plot Details Table</h2>
          <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link">
                <i class="las la-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
            <li class="breadcrumb__item">
              <span class="breadcrumb__item-text">Plot Details Table</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<section class="about-three bg-white padding-y-120">
  <div class="container container-two">
    <div class="row gy-4">
      <!-- <div class="col-lg-6">
        <div class="about-three-thumb">
          <div class="about-three-thumb__inner">
            <img src="public/images/thumbs/about-three-img.png" alt="" />
          </div>
        </div>
      </div> -->
      <div class="col-lg-10">
        <div class="about-content">
          <div class="style-left">
            <span class="section-heading__subtitle bg-gray-100">
              <span class="text-gradient fw-semibold">Plot Details Tables</span>
            </span>
            <h2 class="">Plot Details</h2>
            <p class="font-18">
              Here is the payment details of plot table format.
            </p>
          </div>
          <div class="table-responsive">
            <img src="public/images/plot-details.jpg" alt="plot-details" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include('../templates/components/footer.ejs') %>
