<%-include('../templates/components/header.ejs') %>

<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb padding-y-120">
  <img
    src="public/images/thumbs/breadcrumb-img.png"
    alt=""
    class="breadcrumb__img"
  />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb__wrapper">
          <h2 class="breadcrumb__title">Residential Plot Area</h2>
          <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link">
                <i class="las la-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
            <li class="breadcrumb__item">
              <span class="breadcrumb__item-text">Residential Plot Area</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<section class="project-details padding-y-120">
  <div class="container container-two">
    <div class="project-details__thumb">
      <!-- <img src="public/images/thumbs/project-details.png" alt="" /> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3691.780886870371!2d88.27087836418947!3d22.286288472730835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjLCsDE3JzEwLjciTiA4OMKwMTYnMjQuNCJF!5e0!3m2!1sen!2sin!4v1726926623364!5m2!1sen!2sin"
        width="1600"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="row gy-4">
      <div class="col-lg-8">
        <div class="project-details__content">
          <h5 class="project-details__title">
            A) Glossary and Property Overview
          </h5>
          <h6 class="border-title">Property Overview:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Name of the Property: </span>
                Usthi Village
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Total Area: </span> 400 Bighas
                (approx.)
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Location: </span> Usthi
                Crossing, with easy access to key landmarks
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Coordinate: </span> 22.28630° N,
                88.27344° E
              </p>
            </div>
          </div>

          <h6 class="border-title">Landmark Proximity:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"
                  >25.5 kms from New Alipore Mint:
                </span>
                Approx. 45 minutes drive.
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">5.5 kms from Ibiza: </span>
                Approx. 12 minutes drive.
              </p>
            </div>
          </div>

          <h6 class="border-title">Prior Investment</h6>

          <h4>Investment Summary:</h4>
          <ol class="gradient-list">
            <li>
              <span class="fw-bold">1. Cash Transactions:</span>
              <ul>
                <li>
                  &nbsp;<i class="fas fa-circle" style="font-size: 5px"></i>
                  Total Amount: INR 1,08,50,000.00
                </li>
                <li>
                  &nbsp;<i class="fas fa-circle" style="font-size: 5px"></i>
                  Date of Payment: Between 2020 to 2023
                </li>
              </ul>
            </li>
            <li>
              <span class="fw-bold">2. Bank Transactions:</span>
              <ul>
                <li>
                  &nbsp;<i class="fas fa-circle" style="font-size: 5px"></i>
                  Total Amount: INR 11,00,000.00 (paid in 2020)
                </li>
              </ul>
            </li>
          </ol>

          <details>
            <summary
              style="font-size: 20px; padding-top: 10px; padding-bottom: 20px"
            >
              Details of Transaction
            </summary>
            <div class="table-responsive">
              <table
                class="table style-two"
                style="
                  border: 1px solid #e7e7e7;
                  border-radius: 5px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                "
              >
                <thead>
                  <tr>
                    <th class="p-2">Date</th>
                    <th class="p-2">Nature of Transactions</th>
                    <th class="p-2">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p style="padding: 5px">2020 - 2023</p>
                    </td>
                    <td>
                      <p>Cash</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        108,50,000
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">2020</p>
                    </td>
                    <td>
                      <p>Bank</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        11,00,000
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-2">
                      <p style="font-weight: bolder">Total</p>
                    </td>
                    <td></td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        1,19,50,000
                      </h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>

          <h5>Investment Proposition</h5>
          <p class="project-details__desc font-18">
            Usthi Village offers a unique opportunity to invest in a
            strategically positioned real estate project with high potential
            returns. As Kolkata's urban sprawl reaches suburban areas like Usthi
            Crossing, the demand for residential plots is rising. Usthi Village
            is ideally located to capitalize on this trend, offering a blend of
            accessibility, serenity, and modern amenities.
          </p>

          <h5 style="padding-top: 40px">
            B)Land Purchase and Development Estimates
          </h5>
          <details>
            <summary
              style="font-size: 20px; padding-top: 10px; padding-bottom: 20px"
            >
              Land Purchase and Development Costs
            </summary>
            <div class="table-responsive">
              <table
                class="table style-two"
                style="
                  border: 1px solid #e7e7e7;
                  border-radius: 5px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                "
              >
                <thead>
                  <tr>
                    <th class="p-2">Cost Component (APPROX.)</th>
                    <th class="p-2">Per Bigha Cost (INR)</th>
                    <th class="p-2">Total Cost (INR)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p style="padding: 5px">Land Purchase</p>
                    </td>
                    <td>
                      <p>11,00,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        44,00,00,000.00
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">
                        Registration (Incl. legal fees & documentation)
                      </p>
                    </td>
                    <td>
                      <p>50,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        2,00,00,000.00
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">Land Conversion</p>
                    </td>
                    <td>
                      <p>25,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        1,00,00,000.00
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">
                        Development (Boundary Wall, Roads, etc.)
                      </p>
                    </td>
                    <td>
                      <p>7,00,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        28,00,00,000.00
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">Marketing & Travel Expenses</p>
                    </td>
                    <td>
                      <p>15,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        60,00,000.00
                      </h6>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p style="padding: 5px">Total Investment per Bigha</p>
                    </td>
                    <td>
                      <p>18,90,000.00</p>
                    </td>
                    <td>
                      <h6 class="cart-item__totalPrice font-16 fw-500 mb-0 p-2">
                        75,60,00,000.00
                      </h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>

          <h6 class="border-title">Breakdown of Costs</h6>
          <div class="full-width-list">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Land Purchase: </span> The
                purchase price of INR 11,00,000 per bigha is competitive,
                reflecting the prime location and potential for high returns.
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"
                  >Registration and Legal Fees:
                </span>
                This includes all documentation and legal procedures necessary
                to ensure a smooth transaction.
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Land Conversion: </span> A
                crucial step in transitioning the land from agricultural to
                residential use, facilitating higher valuation and scalability.
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Development Costs: </span>
                Encompasses essential infrastructure, including boundary walls,
                internal roads, drainage, and basic utilities.
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"
                  >Marketing & Travel Expenses:
                </span>
                Budgeted for promotional activities and site visits to attract
                potential buyers.
              </p>
            </div>
          </div>

          <h6 class="border-title">Development Timeline</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"> Phase 1 (Months 1-6):</span>
                Completion of legal and registration processes, initial land
                clearing, and boundary wall construction.
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"> Phase 2 (Months 7-12):</span>
                Internal roads and essential infrastructure development.
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"> Phase 3 (Months 13-18):</span>
                Final touches on amenities and preparation for sales launch.
              </p>
            </div>
          </div>

          <h5>C) Sales Estimates</h5>
          <h6 class="border-title">Residential Plot Offering:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"> Plot Size: </span> 4 Kathas
                (approximately 2,880 sq. ft.)
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Price per Katha: </span> INR
                3,00,000
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Total Plot Price: </span> INR
                12,00,000
              </p>
            </div>
          </div>

          <h6 class="border-title">Project Development:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Total Area:</span> 400 Bighas
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"
                  >Area Reserved for Infrastructure & Amenities:</span
                >
                17% (Common roads, boundary walls, and other essential services)
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Net Sellable Area:</span> 332
                Bighas (approx.)
              </p>
              <ul>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Electricity Ports:</span>
                  Provision for all plots
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Space for Substation:</span>
                  Allocated for consistent power supply
                </li>
              </ul>
            </div>
          </div>

          <h6 class="border-title">Total Sales Value:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"
                  >Total Sales Value for 1660 Plots:</span
                >
                INR 1,99,20,00,000
              </p>
            </div>
            <p class="font-18">
              The pricing strategy for Usthi Village has been meticulously
              planned to reflect the prime location and the comprehensive
              infrastructure and amenities being developed as part of the
              project. The sales price of INR 3,00,000 per katha is justified by
              the significant investments in creating a fully developed, gated
              community. This includes:
            </p>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Gated Colony:</span>
                A secure environment with controlled access, providing safety
                and privacy for all residents.
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Boundary Wall:</span>A strong
                and durable outside wall surrounding the entire community,
                adding a additional layer of security.
              </p>
              <ul>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Drainage System:</span>
                  A well-planned and effective drainage system to prevent
                  waterlogging and ensure proper water management throughout the
                  community.
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Common Road:</span>
                  Paved internal roads designed to provide smooth connectivity
                  within the colony, ensuring convenience and easy access to all
                  plots.
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Water Supply:</span>
                  Installation of a reliable water supply system, ensuring that
                  every plot has access to clean water.
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Electricity Port:</span>
                  Provision of electricity ports for all plots, ensuring that
                  residents can easily connect to the power grid.
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Space for Substation:</span>
                  Allocated space for an electrical substation to ensure
                  consistent and uninterrupted power supply to the entire
                  community.
                </li>
                <li class="text-list-two__item font-18 text-nowrap">
                  <span style="font-weight: bold">Wellfare Office:</span>
                  A dedicated welfare office within the colony to manage
                  community services, address resident concerns, and ensure the
                  smooth operation of all amenities.
                </li>
              </ul>
            </div>
          </div>

          <h5>D) Profitability Analysis</h5>

          <h6 class="border-title">Revenue and Cost Analysis:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold"> Total Investment: </span>INR
                75,60,00,000
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18 text-nowrap">
                <span style="font-weight: bold">Expected Revenue: </span> INR
                1,99,20,00,000
              </p>
            </div>
            <div class="list-item text-nowrap">
              <p
                class="text-list-two__item font-18 text-nowrap"
                style="color: #f58920"
              >
                <span style="font-weight: bold">Project Profits: </span> INR
                1,23,60,00,000
              </p>
            </div>
          </div>

          <h6 class="border-title">Percentage Breakdown:</h6>
          <div class="full-width-list" style="padding-bottom: 30px">
            <div class="list-item">
              <p class="text-list-two__item font-18">
                <span class="fw-bold d-block d-md-inline"
                  >Investment to Revenue Ratio:
                </span>
                <span class="d-block d-md-inline"
                  >The total investment of INR 75,60,00,000 represents
                  approximately 40.00% of the expected revenue (INR
                  1,99,20,00,000).</span
                >
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18">
                <span class="fw-bold d-block d-md-inline">Profit Margin: </span>
                <span class="d-block d-md-inline"
                  >The projected profit of INR 1,23,60,00,000 translates to a
                  profit margin of approximately
                  <span class="text-orange">60.00%.</span></span
                >
              </p>
            </div>
            <div class="list-item">
              <p class="text-list-two__item font-18">
                <span class="fw-bold d-block">Return on Investment (ROI):</span>
                <span class="d-block"
                  >The ROI for the project is calculated as:</span
                >
              </p>
              <p class="font-18 text-break">
                ROI = (Projected Profit / Total Investment) × 100 =
                (1,99,20,00,000 / 75,60,00,000) × 100 ≈ 149.6%
              </p>
              <p class="font-18 text-break">
                ROI = (Total Investment / Projected Profit) × 100 =
                (75,60,00,000 / 1,99,20,00,000) × 100 ≈
                <span class="text-orange">149.6%</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="project-sidebar__box">
          <ul class="project-sidebar">
            <li class="project-sidebar__item">
              <span class="project-sidebar__text font-16">Property Name:</span>
              <h6 class="project-sidebar__title font-16 fw-semibold mb-0">
                Usthi Village
              </h6>
            </li>
            <li class="project-sidebar__item">
              <span class="project-sidebar__text font-16">Total Area:</span>
              <h6 class="project-sidebar__title font-16 fw-semibold mb-0">
                400 Bighas (approx)
              </h6>
            </li>
            <li class="project-sidebar__item">
              <span class="project-sidebar__text font-16">Location:</span>
              <a
                href="https://maps.app.goo.gl/8Vqag5xNEev33WAw5"
                target="_blank"
              >
                <h6 class="project-sidebar__title font-16 fw-semibold mb-0">
                  Usthi Crossing, with easy access to key landmarks
                </h6>
              </a>
            </li>
            <li class="project-sidebar__item">
              <span class="project-sidebar__text font-16"
                >Landmark Proximity:</span
              >
              <h6 class="project-sidebar__title font-16 fw-semibold mb-2">
                • 25.5 kms from New Alipore Mint: Approx. 45 minutes drive
              </h6>
              <h6 class="project-sidebar__title font-16 fw-semibold mb-0">
                • 5.5 kms from Ibiza: Approx. 12 minutes drive
              </h6>
            </li>
          </ul>
          <div class="about-button">
            <a href="/plot_details" class="btn btn-main"
              >View Property Payment
              <span class="icon-right">
                <i class="fas fa-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include('../templates/components/footer.ejs') %>
